- content_for :title, @article.title
- content_for :meta_description, truncate_for_meta(@article.content.to_plain_text)
- content_for :og_type, "article"
- if @article.cover_media_item&.file&.attached?
  - content_for :og_image, url_for(@article.cover_media_item.file.variant(resize_to_limit: [1200, 630]))

= render "shared/site_header", active: :archiv

= render "shared/page_header", title: @article.title, testid: "article-section", title_testid: "article-title", breadcrumbs: [[t("articles.index.title"), articles_path], [@article.title, nil]]

%section.py-5{ data: { testid: "article-content" } }
  .container
    .row.justify-content-center
      .col-lg-8
        - if @article.published_at.present?
          .article-meta.mb-4.text-muted
            %span{ data: { testid: "article-published-at" } }
              = t("articles.show.published_at", date: l(@article.published_at, format: :long))

        - if @article.cover_media_item&.file&.attached?
          .article-cover-image.mb-4
            = render "shared/zoomable_image", image: @article.cover_media_item.file.variant(resize_to_limit: [800, 400]), full_image_url: url_for(@article.cover_media_item.file), title: @article.title, image_class: "img-fluid rounded"

        .article-body{ data: { testid: "article-body" } }
          = @article.content

        .mt-5.pt-4.border-top
          = link_to t("articles.show.back"), articles_path, class: "btn btn-outline-primary"
