%section.py-5{ data: { testid: "feature-cards-section" } }
  .container
    %h2.section-title.text-center.mb-4= t("welcome.feature_cards.title")
    .row.g-3
      .col-md-6.col-lg-4
        = link_to artists_path, class: "feature-card" do
          = image_tag "design/background-pic-top-b-3.jpg", alt: t("welcome.feature_cards.kunstschaffende"), class: "feature-card-image"
          .feature-card-overlay
            %h3.feature-card-title= t("welcome.feature_cards.kunstschaffende")
      .col-md-6.col-lg-4
        = link_to land_und_leute_path, class: "feature-card" do
          = image_tag "design/archiv_om_1920.jpg", alt: t("welcome.feature_cards.land_und_leute"), class: "feature-card-image"
          .feature-card-overlay
            %h3.feature-card-title= t("welcome.feature_cards.land_und_leute")
      .col-md-6.col-lg-4
        = link_to ausstellungen_path, class: "feature-card" do
          = image_tag "design/coming-soon.jpg", alt: t("welcome.feature_cards.ausstellungen"), class: "feature-card-image"
          .feature-card-overlay
            %h3.feature-card-title= t("welcome.feature_cards.ausstellungen")
