= form_with model: [:admin, @media_item], class: "needs-validation", data: { testid: "media-item-form" } do |form|
  - if @media_item.errors.any?
    .alert.alert-danger
      %ul.mb-0
        - @media_item.errors.full_messages.each do |message|
          %li= message

  .row
    .col-md-8
      .mb-3
        = form.label :title, t("admin.media_items.form.title_label"), class: "form-label"
        = form.text_field :title, class: "form-control #{'is-invalid' if @media_item.errors[:title].any?}", required: true, data: { testid: "media-item-title" }
        - if @media_item.errors[:title].any?
          .invalid-feedback= @media_item.errors[:title].first

      .mb-3
        = form.label :description, t("admin.media_items.form.description_label"), class: "form-label"
        = form.text_area :description, class: "form-control", rows: 4, data: { testid: "media-item-description" }

      .mb-3
        = form.label :file, t("admin.media_items.form.file_label"), class: "form-label"
        = form.file_field :file, class: "form-control #{'is-invalid' if @media_item.errors[:file].any?}", accept: "image/*,video/*,application/pdf", data: { testid: "media-item-file" }
        - if @media_item.errors[:file].any?
          .invalid-feedback= @media_item.errors[:file].first
        - if @media_item.persisted? && @media_item.file.attached?
          .mt-2
            - if @media_item.image?
              = image_tag @media_item.file.variant(resize_to_limit: [200, 200]), class: "img-thumbnail"
            - else
              %span.badge.bg-secondary= @media_item.file.filename

      .mb-3
        = form.label :tag_list, t("admin.media_items.form.tags_label"), class: "form-label"
        = form.text_field :tag_list, class: "form-control", value: @media_item.tag_list, placeholder: t("admin.media_items.form.tags_hint"), data: { testid: "media-item-tags" }
        .form-text= t("admin.media_items.form.tags_help")

    .col-md-4
      .mb-3
        = form.label :media_type, t("admin.media_items.form.type_label"), class: "form-label"
        = form.select :media_type, MediaItem::MEDIA_TYPES.map { |t| [I18n.t("media_item_types.#{t}"), t] }, { include_blank: t("admin.media_items.form.select_type") }, class: "form-select #{'is-invalid' if @media_item.errors[:media_type].any?}", required: true, data: { testid: "media-item-type" }
        - if @media_item.errors[:media_type].any?
          .invalid-feedback= @media_item.errors[:media_type].first

      .mb-3
        = form.label :year, t("admin.media_items.form.year_label"), class: "form-label"
        = form.number_field :year, class: "form-control", min: 1, max: Time.current.year, data: { testid: "media-item-year" }

      .mb-3
        = form.label :source, t("admin.media_items.form.source_label"), class: "form-label"
        = form.text_field :source, class: "form-control", data: { testid: "media-item-source" }

      .mb-3
        = form.label :technique, t("admin.media_items.form.technique_label"), class: "form-label"
        = form.select :technique, MediaItem::TECHNIQUES.map { |t| [I18n.t("media_item_techniques.#{t}"), t] }, { include_blank: t("admin.media_items.form.select_technique") }, class: "form-select", data: { testid: "media-item-technique" }

      .mb-3
        = form.label :copyright, t("admin.media_items.form.copyright_label"), class: "form-label"
        = form.text_field :copyright, class: "form-control", data: { testid: "media-item-copyright" }

      .mb-3
        = form.label :license, t("admin.media_items.form.license_label"), class: "form-label"
        = form.text_field :license, class: "form-control", data: { testid: "media-item-license" }

  .d-flex.gap-2
    = form.submit @media_item.persisted? ? t("admin.media_items.form.submit_update") : t("admin.media_items.form.submit_create"), class: "btn btn-primary", data: { testid: "submit-media-item" }
    = link_to t("admin.media_items.form.cancel"), admin_media_items_path, class: "btn btn-outline-secondary"
