- items = collection.collection_items.includes(media_item: { file_attachment: :blob }).ordered
- if items.any?
  .row.g-3
    - items.each do |item|
      .col-md-3.col-sm-4.col-6{ data: { testid: "collection-item-#{item.media_item_id}" } }
        .card.h-100
          - if item.media_item.image? && item.media_item.file.attached?
            = image_tag item.media_item.file.variant(resize_to_fill: [150, 150]), class: "card-img-top", alt: item.media_item.title
          - else
            .card-img-top.bg-light.d-flex.align-items-center.justify-content-center{ style: "height: 150px;" }
              %i.bi.bi-file-earmark.text-muted{ style: "font-size: 2rem;" }
          .card-body.p-2
            %small.d-block.text-truncate= item.media_item.title
          .card-footer.p-2.bg-transparent.border-0
            %button.btn.btn-sm.btn-outline-danger.w-100{ type: "button", data: { action: "click->collection-items#removeItem", "media-item-id": item.media_item_id } }
              %i.bi.bi-trash
              = t("common.delete")
- else
  .text-center.text-muted.py-4
    %p= t("admin.collections.show.no_media_items")
